.welcome {
    margin: 0 auto;
    height: 100vh;
    width: 40rem;
    padding: 1rem;
    overflow: scroll;

    @media (max-width: 40rem) {
        width: 100%
    }

    & .feilmelding {
        color: red;
    }
    
    & .sign-up-form {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
    }
    
    & .form-group {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        width: calc(100% - 2rem);
    }
    
    & .form-group {
        label,input[type="text"] {
            margin: 10px;
            font-size: 2rem;
        }
    }
}

